<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag 'abstract_logo.svg', class: 'logo-image' %>
        <span class="logo-text">Translator</span>
      </div>
      <div class="col-md-3">
        <% if user_logged_in? %>
          <%= render partial: 'google_logout' %>
        <% else %>
          <%= render partial: 'google_login' %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid app-body">  <!-- TODO Rename app-body -->
  <div class="row">
    <div class="col-md-5 input-text">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group">
            <input id="input-text-language" class="btn btn-default" type="text" value="English" readonly>
            <%= render partial: 'detect_language' %>
          </div>
        </div>
          <textarea id="input-text" class="panel-body form-control" rows="5"></textarea>
      </div>
    </div>

    <div class="col-md-5 output-text">
      <div class="panel panel-default">
        <div class="panel-heading">
          <input id="output-text-language" class="btn btn-default" type="text" value="Ukrainian" readonly>
          <button id="text-translator" type="button" class="btn btn-info">Translate</button>
        </div>
        <div id="output-text" class="panel-body form-control"></div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid">
    <p>Footer Text</p>
  </div>
</footer>
