<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag 'abstract_logo.svg', class: 'logo' %>
      </div>
      <div class="col-md-3">
        <%= render partial: 'google_login' %>

        <a class="btn btn-block btn-social btn-google">
          <span class="fa fa-sign-out"></span> Log outnt
        </a>
      </div>
    </div>
  </div>
</header>


<footer>
  <div class="container-fluid">
    <p>Footer Text</p>
  </div>
</footer>
