<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag 'abstract_logo.svg', class: 'logo' %>
      </div>
      <div class="col-md-3">
        <a class="btn btn-raised btn-block btn-social btn-google">
          <span class="fa fa-google"></span> Sign in with Google
        </a>

        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
      </div>
    </div>
  </div>
</header>


<footer>
  <div class="container-fluid">
    <p>Footer Text</p>
  </div>
</footer>
