<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag 'abstract_logo.svg', class: 'logo-image' %>
        <span class="logo-text">Translator</span>
      </div>
      <div class="col-md-3">
        <% if user_logged_in? %>
          <%= render partial: 'google_logout' %>
        <% else %>
          <%= render partial: 'google_login' %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid app-body">  <!-- TODO Rename app-body -->
  <div class="row">
    <div class="col-md-5 input-text">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group">
            <button type="button" class="btn btn-default">English</button>
            <%= render partial: 'detect_language' %>
          </div>
        </div>
        <div class="panel-body">
          <textarea class="form-control" rows="5" id="input_text"></textarea>
        </div>
      </div>
    </div>

    <div class="col-md-5 output-text">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group">
            <button type="button" class="btn btn-default active">Ukrainian</button>
            <button type="button" class="btn btn-default">Russian</button>
            <button type="button" class="btn btn-default">English</button>
          </div>
        </div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid">
    <p>Footer Text</p>
  </div>
</footer>
