header {
  min-height: 20px;
  overflow: auto;
  padding: 5px 0;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #616161;
  border-bottom: 1px solid #424242;
}

.logo-image {
  height: 35px;
  width: 35px;
}

.logo-text {
  color: #fafafa;
  text-align: center;
  padding-top: 3px;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-style: double;
}

#user-google-name {
  color: white;
  font-size: 20px;
}

#user-google-image {
  height: 35px;
  width: 35px;
}

// TODO Rename
.app-body {
  margin: 100px 25px;
}

#input-text {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 20px;
}

#swap-language {
  float: right;
}

#output-text {
  height: 172px; // TODO height
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 20px;
}

footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #bdbdbd;
  border-top: 1px solid #757575;
}
