header {
  min-height: 20px;
  overflow: auto;
  padding: 5px 0;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #616161;
  border-bottom: 1px solid #424242;
}

.logo-image {
  height: 40px;
  width: 40px;
}

.logo-text {
  color: #fafafa;
  text-align: center;
  padding-top: 3px;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-style: double;
}

// TODO Rename
.app-body {
  margin: 100px 25px;
}

footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #bdbdbd;
  border-top: 1px solid #757575;
}
